/build/
/build.xml
/dist/
/manifest.mf
/nbproject/
/.settings/
EAGA.log
FileTypeConversor.log
lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
lib/nblibraries.properties
polblogs.sh
polbooks.sh
